.stats {
  display: flex;
  margin: 0;
  padding: 0;
}

.stat {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.profile {
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 300px;
  border: solid 1px black;
  border-radius: 50%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
